<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mozilla Session Invalidation</title>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <div id="main">
      <div>
        <h1>Mozilla Session Invalidation</h1>
      </div>
      <div>
        <input id="username" name="username" placeholder="username@mozilla.com" type="text" />
        <input id="terminate" type="button" value="Terminate" />
      </div>
      <div>
        <!-- Updated dynamically -->
        <ul id="reliantparties">
          <li id="rp-sso" data-state="not_modified">
            SSO
          </li>
        </ul>
      </div>
      <div>
        <!-- Populated dynamically -->
        <ul id="outputs">
        </ul>
      </div>
    </div>
  <script src="{{ url_for('static', filename='main.js') }}" type="application/javascript"></script>
  </body>
</html>
