body {
  font-size: 20px;
}

#username {
  display: block;
}

#terminate {
  display: block;
}

li[data-state=not_modified] {
  background-color: gray;
}

li[data-state=terminated] {
  background-color: green;
}

li[data-state=error] {
  background-color: red;
}
