body {
  font-size: 20px;
  font-family: 'Zilla Slab', serif;
}

table {
  border-collapse: collapse;
}

tr {
  border: solid black;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

th, td {
  padding: 4px 16px;
}

td {
  font-size: 14px;
  text-align: center;
}

#main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#username {
  display: block;
  line-height: 1.5em;
  font-size: 1.1em;
  height: 32px;
  width: 100%;
  margin: 16px 0px;
  padding-left: 16px;
}

#terminate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 46px;
  min-width: 120px;
  border: none;
  background-color: #e1dcda;
  font-weight: 600;
  font-size: 16px;
}

#terminate:active {
  background-color: #d3d2d1;
}

#results {
  margin-top: 32px;
}

td.username {
  font-weight: 600;
}

span[data-state="Terminated"] {
  color: green;
}

span[data-state="Not modified"] {
  color: black;
}

span[data-state="Not implemented"] {
  color: gray;
}
