body {
  font-size: 20px;
  font-family: 'Zilla Slab', serif;
}

table {
  border-collapse: collapse;
}

tr {
  border: solid black;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

th, td {
  padding: 4px 16px;
}

td {
  font-size: 14px;
  text-align: center;
}

#main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#username {
  display: block;
  line-height: 1.5em;
  font-size: 1.1em;
  height: 32px;
  width: 100%;
  margin: 16px 0px;
  padding-left: 16px;
}

#terminate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 240px;
  min-width: 240px;
  border: none;
  background-color: red;
  font-weight: 600;
  font-size: 2.0em;
  color: white;
  border-radius: 50% 50%;

}

#terminate:active {
  background-color: #bb0505;
  color: #e8e8e8;
}

td.username {
  font-weight: 600;
}

#results {
  margin-top: 32px;
}

#outputs {
  padding-left: 0;
  list-style: none;
}

#outputs li {
  padding: 8px 16px;
  margin: 8px 0px;
}

li.output {
  background-color: #fdfdb2;
}

li.error {
  background-color: #fdbbbb;
}

span[data-state="terminated"] {
  color: green;
}

span[data-state="error"] {
  color: red;
}

span[data-state="not_modified"] {
  color: black;
}

span[data-state="not_implemented"] {
  color: gray;
}
